hr {
	position: center;
	width: 40%;
	border-radius: 10px;
    border: 1px solid #080808 !important;
}

#sede {
	background-image: url('../img/html.png');
	background-size: 25%;
	background-repeat: repeat;
	padding: 1%;
}

.bgwhite {
	background-color: rgba(250,250,250,0.5);
}

#sede2 {
	padding: 5%;
}

#fotos {
	padding: 5%;
}

#puntos {
	padding-left: 15%;
}

#imagenPersona {
	height: 300px;
	width: 450px;
}

.form-control {
	margin-bottom: 0px !important;
}

.paises {
	background-color: #F7CC21 !important; 
	color: white !important;
}

